# From https://github.com/github/gitignore/blob/master/Global/SBT.gitignore
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

.idea/
data/
project/project/target
project/target/